body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Primeform';
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.65vw;
  font-weight: 400;
}

h1 {
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.95);
}

.home {
  box-sizing: border-box;
  min-height: calc(100vh - 90px);
  padding: 5.5% 10% 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home h1 {
  font-size: 8vw;
}

.home i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 15px;
  padding: 10px;
  border-radius: 7.5px;
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.home i:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #1b1b1b;
}

.home a {
  color: #141414;
  box-shadow: white;
}

.home-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.2s ease;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar:hover {
  background-color: rgba(10, 10, 10, 0.8);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Cascadia Code';
}

.navbar a {
  color: rgb(187, 187, 187, 0.65);
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  text-align: center;
  border-radius: 5px;
  transition: color 0.2s ease;
}

.navbar:hover a {
  color: rgb(187, 187, 187);
}

.navbar a:hover {
  background-color: #1b1b1b;
  color: white;
  transition: all 0.2s ease-in-out;
}

.name-highlight {
  background-image: -webkit-linear-gradient(60deg, #60eec6, #4ea8de, #5e60ce, #7400b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typewriter {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.typewriter p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: 'Cascadia Code', sans-serif;
  overflow: hidden;
  border-right: .15em solid #4ea8de;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.aboutme {
  background-color: rgb(255, 255, 255);
  padding-top: 8.5%;
  padding-bottom: 8.5%;
  padding-left: 20%;
  padding-right: 20%;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}


.aboutme img {
  width: 100%;
  border-radius: 50%;
}


.aboutme p {
  margin-right: 20px;
  color: #141414;

}

.aboutme h1 {
  color: black
}

.projects {
  padding-top: 5.5%;
  padding-bottom: 7.5%;
  padding-left: 10%;
  padding-right: 10%;

}

.projects h1 {
  font-size: 4vw;
  text-align: center;
}

.projectgallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  width: 100%;
  box-sizing: border-box;
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.card h2 {
  font-size: 2.5vw;
  margin-top: 15px;
  margin-bottom: 0px;
}

.card a {
  color: rgb(187, 187, 187, 0.75);
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 5px;
  transition: color 0.2s ease;
  font-size: 1.5vw;
  background-color: #2c2e33;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 10px;
}


.card a:hover {
  color: rgb(187, 187, 187);
  background-color: #32353a;
  transition: all 0.2s ease-in-out;
}

.footer {
  background-color: rgb(14, 14, 14);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer p {
  color: #777777;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2vw;
}

.footer a {
  color: #356e91;
}

.footer a:hover {
  color: #67a2c7;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #4ea8de
  }
}

@media screen and (max-width: 480px) {
  .home {
    min-height: auto;
    padding: 1.2rem 1rem;
    margin: 0;
    overflow: visible;
  }

  .home i {
    padding-left: 10%;
    padding-right: 10%;
  }

  .typewriter p {
    white-space: normal;
    border-right: none;
    animation: none;
    width: auto;
    font-size: 1.2rem;
    letter-spacing: normal;
  }

  .navbar {
    height: 65px;
  }

  .navbar a {
    padding: 10px 12px;
    font-size: 0.85em;
  }

  .home {
    padding-top: 30%;
    padding-bottom: 40%;
  }

  .home h1 {
    font-size: 5em;
  }

  .home p {
    font-size: 1.3em;
  }

  .aboutme {
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutme img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%
  }

  .babypic {
    margin: 0px;
  }

  .aboutme h1 {
    font-size: 10vw;
  }

  .aboutme p {
    font-size: 1em;
  }

  .projects {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects h1 {
    font-size: 10vw;
    text-align: center;
  }

  .projects h2 {
    font-size: 5vw;
  }

  .projects p {
    font-size: 1em;
  }

  .projects a {
    font-size: 1em;
  }

  .projectgallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer p {
    font-size: 4.5vw;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('fonts/CascadiaCode.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFPRODISPLAYBOLD.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Primeform';
  src: url('fonts/PrimeformProDemo-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Primeform';
  src: url('fonts/PrimeformProDemo-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Mobile */